USE [Crud_CORE]
GO
/****** Object:  Table [dbo].[People]    Script Date: 4/4/2024 10:34:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[IdPeople] [int] IDENTITY(1,1) NOT NULL,
	[NamePeople] [varchar](100) NULL,
	[Age] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdPeople] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
